body {
	background-image: url("https://image.freepik.com/free-vector/white-canvas-background_1053-239.jpg");
}

.slider {
	max-width: 600px;
	max-height: 200px;
	margin: 0 auto;
}

ul.accordion{
	display: flex;
	justify-content: center;
	margin-top: 150px;
	padding: 0;
}

ul.accordion li {
	width: 100px;
	height: 200px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	display: block;
	-webkit-box-shadow: 1px 3px 15px #7e807e;
	-moz-box-shadow: 1px 3px 15px #7e807e;
	box-shadow:  1px 3px 15px #7e807e;
	-webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
	transition: : all 1.5s;
}

ul.accordion img {
	width: 300px;
}

ul.accordion li:hover {
	width: 300px;
	-webkit-box-shadow: 1px 3px 15px #0000b3;
	-moz-box-shadow: 1px 3px 15px #0000b3;
	box-shadow: 1px 3px 15px #0000b3;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
	transition: : all 1s;
}

ul.accordion li:nth-child(2) {
	width: 300px;
}

ul.accordion:hover li:nth-child(2) {
	width: 100px;
}

ul.accordion li:nth-child(2):hover {
	width: 300px;
}